* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.header {
  width: 100%;
  height: auto;
  background-color: rgb(27, 162, 162);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.full-size {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full-size span {
  font-size: 17px;
  margin-left: 4px;
}

.full-size p {
  margin: 0;
}

.theme-bg--dark {
  background-color: #282c34;
}

.theme-text--dark {
  color: #fff;
}

.App-link {
  color: #61dafb;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  font-size: 18px;
  margin-right: 20px;
}

.lang-button {
  display: block;
}

.cta-button {
  display: block;
}

.lang-nav {
  display: inline-block;
  padding: 10px;
  background-color: white;
}

.cta-nav {
  display: inline-block;
  padding: 10px;
  background-color: lightgrey;
}

.text {
  padding: 20px;
}

.login-form-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.login-form-input {
  margin-bottom: 20px;
}

.login-form-info {
  margin-top: 20px;
}

.panel-light {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  color: black;
}

.panel-dark {
  background-color: #2f2f2f;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  color: white;
}

.button-light {
  color: black;
  background-color: white;
}

.button-dark {
  color: white;
  background-color: black;
}

.dark-mode-toggle {
  margin-left: 20px;
}

.section-todo {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  color: black;
}

.todo-btn {
  margin-left: 10px;
}

.bonus-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  text-align: center;
}

.bonus-button {
  padding: 8px;
  margin-bottom: 25%;
  background-color: #4169e1;
  color: white;
  border-radius: 5px;
  font-size: 25px;
}

.bonus-header {
  font-size: 100px;
}

.bonus-paragraph {
  font-size: 50px;
  margin-bottom: 25%;
}
